#HW 2 Python

### 1. Fibonacci Numbers

In [174]:
def fib(n): #FOUND IN NOTES
    """ The Fibonacci function will return out all fibonacci numbers up to a given input n. The Fibonacci numbers can be calculated
        recursively with the definition
                    F(n)=F(n-1)+F(n-2) where F(0)=0 and F(1)=1 (the numbers in the parentheses are subscripts; F is not a function)
        """
    a, b = 0, 1 #defines the variables a,b as 0,1 to make them the F(0) and F(1) from the definition
    fib=[] #assigns an empty list to the variable fib
    while a < n: #runs the loop while a, the number, is less than or equal to the original input
        fib=fib+[a]
        a, b = b, a+b # calculating the new number with the recursive definition
    print(fib) #asks to print fib to the screen
    return(fib) #function also returns the fibonnaci numbers up to the given cutoff point

In [175]:
fib(1597) #test a few Fibonacci numbers..

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [176]:
# SW: lost points: your function is not correct. it should print all the numbers in the
# sequence that are _less_ than n. so, the following should print through 55, but not 89.
fib(89)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [177]:
fib.__class__

function

###2. MyMax

In [178]:
def mymax(a, b):
    """ The mymax function takes in two integers and return the larger"""
    max=a #set mas as the first number
    if a<b: #computes whether the first input is smaller than the second
        max=b #if it is, then the second input, b, is bigger. We only need to check this because we have already assumed that the first number is bigger. If it is, then there is no change
    return(max) #return the mas

In [179]:
mymax(10, 20)

20

In [180]:
mymax (345, 345)

345

In [181]:

# SW: lost points: the function should return a number, not a string. as currently written, 
# this would be a difficult function to call elsewhere, or even with itself. for example, 
# the call below will throw an error. even if we allowed it to return a string, it will also
# be difficult to predict the return type because you use different strings for different 
# cases. in any case, function doesn't actually return anything.
mymax(mymax(1,2),3)

3

###3. Max of Three

In [182]:
def max_of_three(a, b, c):
    """ The max_of_three function takes three inputs, tests them against each other, and returns which is largest. If two 
        have the same value, it will still tell you the largest"""
    max=a
    if a<b: #determine whether a<b
        if b<c: #if yes, determines if b<c
            max=c #then a<b<c so c is largest
        else: # if c<b
            max=b #a<b and c<b, so b is largest
    else: #if b<a 
        if c<a: #now need to determine relationship between a and c
            max=a # b<a and c<a, so a is largest
        else: # if a<c
            max=c #b<a<c so c is largest
    return(max) #return the max

# SW: lost points: same comment as above, this should return a number, not a string.

In [184]:
max_of_three(20, 3, 4)

20

In [185]:
max_of_three(max_of_three(1,2,5), 2,3)

5

###4. Mylen

In [186]:
def mylen( str ):
    """Mylen takes a string as input and returns the length of the string as an output"""
    n=0 #assign 0 to n
    for s in str: #goes through each variable in the string
        n=n+1 #one is added to the variable for every item in the string
    return(n) #return n

In [187]:
mylen('I dont know what you are talking about') #test a few to make sure it works. Counts the spaces as well.

38

In [191]:
mylen('will this work i wonder?')

24

In [192]:
mylen('i have 543 @pples and b@nn@n@s!')

# SW: lost points: again, this function will be difficult to combine with others

31

###5. Vowel or consonant

In [193]:
def vowel(letter):
    """The function vowel takes a letter as an input and returns True or False, if it is a vowel or not.  It does not take into consideration that y is 
        sometimes a vowel."""
    return(letter in 'aeiouAEIOU') #tests if the input is in the string 'aeiou' of vowels and returns the result

In [194]:
vowel('t') #test a few

False

In [195]:
vowel('a') #important to have the quotation marks. This makes it a string of 1, not a variable.

True

In [196]:
# SW: lost points: your function will need to deal with mixed case. the below call returns 
# False, but it should be true.
vowel('A')

True

###6. Rövarspråket (Robber's Language)

In [197]:
def translate( str ):
    """The function robber will double every consonant and place an 'o' in between. It does this by finding the vowels, excepting
        them from this process, and then continuing."""
    y="o" #assign the letter "o" to y
    trans=[] #assign an empty list to the varaible tans
    late='' #assign an empty string to the variable late
    alphabet='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' #define the alphabet
    for n in str: #loop through every character in the string str
        if vowel(n)!=True and n in alphabet: #using the function vowel defined above, if n is not a vowel and n is in the alphabet
            trans=trans+[n+y+n] #then add it to trans with the consonant doubled with an "o" in the middle
        else: #otherwise
            trans=trans+[n] #add the vowel or non-alpha character to trans as it is
    late=''.join(trans) #join the list trans together to get a string list
    return(late) #return the string late

In [198]:
translate('hey') #

'hoheyoy'

In [199]:
translate('will even this work out?')

'wowilollol evovenon tothohisos wowororkok outot?'

In [200]:
translate('this is fun')

# SW: lost points: this function was supposed to be named 'translate()' (see HW). it is 
# important to write code to specification, particularly when you are collaborating with 
# others (including yourself in the future). also, the output is not correct; there should 
# not be spaces around the additional letter o's.

'tothohisos isos fofunon'

###7. Sums and Multiplication

In [201]:
def sum(list): 
    """The function sums will take a list and returns the sum of it"""
    y=0 #define the variable y that will carry the sum, as 0. This is the additive identity
    for n in list: #perform the operation for every number in the list
        y=n+y #add each number to the last
    return(y) #return the result


# SW: lost points: this function should have been named 'sum()', not 'sums()'. and, this 
# function needs to return a number, not print a string.

def multiply(list):
    """The function multiply will take a list and determine the product of all its values"""
    y=1 #define y as 1, the multiplicative identity. Y will contain the product of the list
    for n in list:#perform the operation for every number in the list
        y=y*n #multiply each number by the last
    return(y) #return the result

        
# SW: lost points: should return a number, not a string

In [204]:
sum((1, 2, 3, 4)) #run a few to test

10

In [205]:
sum((5,6,2,8))

21

In [206]:
multiply((1, 2, 3, 4,)) #run a few to test

24

In [207]:
multiply((.5, 4, 7, 5))

70.0

###8. Reverse String

In [208]:
def reverse( word ):
    """The function reverse takes a string as an input and returns the reverse string. It does this by defining a new string and
        adding the letters from the old string backwards to the new one"""
    drow="" #define a new, empty string. This will be the reverse string
    for s in word: #for every variable in s
        drow=s+drow #define the reverse string as each letter plus itself. This is radically different from saying that drow=drow+s
                #addition of numbers is commutative, but of letters it is not. drow=drow+s would return the orignal word
    return(drow) #return the string of the reverse

In [209]:
reverse('hello there, i am a crazy cat lady, I have 46!') #test

'!64 evah I ,ydal tac yzarc a ma i ,ereht olleh'

In [210]:
reverse('word')

'drow'

In [211]:
reverse('Happy grading!!')

# SW: lost points: here we want to return a string, but the return value is not what the 
# problem specified; you have added extra characters, and you aren't actually returning 
# anything.

'!!gnidarg yppaH'

###9. Palindrome

In [212]:
def palindrome(word):
    """The palindrome function checks if an input is a palindrome. A palindrome is a word that can be read the same forwards and
        backwards. For example, some common palindromes are
                        mom
                        racecar
                        a man a plan a canal panama
                        radar
    """
    return(word==reverse(word)) #using the function reverse above, test whether the word and the reverse of it are the same, and return the result

In [213]:
    
palindrome('muffintop') #try a few

False

In [214]:
palindrome('radar')

True

In [215]:
palindrome('racecar')

# SW: lost points: the return value here should be Boolean, i.e., True or False

True

###10. Member

In [216]:
def is_member(x, a): 
    """The function is_member tests to see if a single value is a member of a list of values. It's inputs are the single and 
        list of values."""
    for n in a: #for every n in a, runs through the if-else construct and returns to the top
        if x==n: #test if the value is equal to the individual value being tested
            result='y' #if they are the same, change result to true
            break #the break here is important, because it stops the code running onwards. Without it, if we were testing whether
                #m was in mama, the result would be false because we are testing m against every individual letter of mama. In
                #this case it would return true twice and false twice, but the false would be last and therefore the result would
                #only say false. This could be changed by putting the print inside each command for 'if' and 'else,' but then
                #you would get a whole list of trues and falses when all you want to know is if the single variable was in the 
                #string or list as least once.
        else: # if x is not equal to n
            result='n' #result is false
    return(result=='y') #return the result in a boolean

In [217]:
is_member('m', 'mama') #test the function!

True

In [218]:
is_member(3, (4,3,5,6))

True

In [219]:
is_member('s', 'I love programming')

False

In [220]:
is_member(4, (34, 45, 3))

# SW: lost points: fine to use the in operator here. but again, your function does not 
# return anything.

False

###11. Overlapping

In [221]:
def overlapping(list1, list2):
    """The overlapping function takes two lists and determines if there are any common elements between them."""
    for n in list1: #runs through all n's in list1
        for m in list2:
            if n==m:
                result='y' # if they are equal, they have at least one common element
                break #for the same reasons as above, it is very important to break the for-loop here
            else: #if they are not the same, 
                result='n' #return is false
        if result=='y': #if the result is yes,
            break #then break. This is important for the same reasons as above, because it will keep testing through all the characters in each string. By breaking we stop at the first yes and exit the loop 
    return(result=='y')

In [222]:
                
overlapping((1, 2, 6), (3, 4, 5)) #test it out!

False

In [223]:
overlapping((1,2,3), (2,3,4))

True

In [224]:
overlapping((1,2,3), (1,4,5))

# SW: lost points: function does not return anything.

True

###12. Generate Characters

In [228]:
def generate_n_chars(n, c):
    """The function generate_n_chars takes in two inputs, a number and a character, and returns a string of the number of those characters 
        all in a row."""
    chars=[] #assign an empty list to the variable chars
    while 0<n:#run the next part while the number is greater than 0
        chars=chars+[c] #add the letter, c, to chars 
        n=n-1 #notice that we have already printed one character, so reduce the number left by 1.
    chars=''.join(chars) #join the list chars into a string chars   
    return(chars) #return chars

In [229]:
generate_n_chars(5, 'x') #some examples

'xxxxx'

In [230]:
generate_n_chars(10, 'q')

'qqqqqqqqqq'

In [231]:
generate_n_chars(0, 'o')

# SW: lost points: function does not return anything.

''